<div>
  <h2>Chat global</h2>
  <div>
    <form id="form-msg">
      <label for="input">Escribe tu mensaje:</label>
      <input type="text" name="input" id="input">
      <input type="submit" value="Enviar">
    </form>
  </div>

  <h2>Todos los mensajes:</h2>
  <div id="all-messages"></div>
</div>