<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="socket.svg" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
  <!--  <link type="text/css" href="styles.css"> -->
  <title>Desafio 04</title>
</head>
<body>
  
  {{{body}}}

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>