body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: purple;
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: rgb(164, 20, 142);
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.producto {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.producto img {
    flex-shrink: 0;
    max-width:150px;
    max-height:150px;
}

.info {
    flex-grow: 1; 
    padding-left: 10px;
}